
@{
    ViewBag.Title = "register";
    Layout = null;
}

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/bootstrap")

<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left"> <img class="img-fluid" src="assets/img/logo.png" alt="Logo"> </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h1 class="mb-3">Register</h1>
                        <form action="login.html">
                            <div class="form-group">
                                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", placeholder = "Name" } })
                                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text - danger" })
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
                                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password", type = "password" } })
                                @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.EditorFor(model => model.confirmpassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Confirm Password", type = "password" } })
                                @Html.ValidationMessageFor(model => model.confirmpassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group mb-0">
                                <button class="btn btn-primary btn-block" type="submit"><a href="@Url.Action("login", "Home")">Register</a></button>
                            </div>
                        </form>
                        <div class="login-or"> <span class="or-line"></span> <span class="span-or">or</span> </div>
                        <div class="social-login"> <span>Register with</span> <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a><a href="#" class="google"><i class="fab fa-google"></i></a> </div>
                        <div class="text-center dont-have">Already have an account? <a href="@Url.Action("login", "Home")">Login</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
